* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(121, 65, 177);
    text-align: center;
    text-transform: uppercase;
}

#banner {
    width: 100%;
}

h1 {
    font-size: 50px;
    color:whitesmoke
}